@font-face{
    font-family: 'BlairMdITC TT Medium';
    src: url('fonts/BlairMdITCTTMedium.ttf');
    src: local('BlairMdITCTTMedium');
}


html{
background-color: #021128;
width: 960px;
margin: 0 auto;
padding: 0px;
}

body{
background-color: #021128;
width: 960px;
margin:auto;
padding: 0px;
}


#main{
padding: 0px;
height: 1080px;
}

#logo{
    width: 200px;
    margin: 0px  100px 0 0px;
    float: left;

}

nav li {
    margin: 50px  0 60px 0;    
    list-style-type: none;
    float: left;
    text-decoration: none;
    Padding: 0px 30px 0 0;
    font-family: "BlairMdITC TT Medium";


}

nav li a {
    font-size: 16px;
    color: #CC9900;
    text-decoration: none;
    border-bottom: 1px solid #C90; 

}

nav li a:hover{
     border-bottom: 3px solid #e2cc9a;
    color: #e2cc9a;
    
}

nav li a.active {
    border-bottom: 3px solid #C00;
    color: #C00;
    }
nav li a.active { cursor: default; }


#background
{
    background-image: url(../image/back.png);
    height: 888px;
    clear:both;

}

footer{
    margin: 0 20px;
    font-family: helevetica, san-sefif;
    font-size: 14px;

}

footer p{
    float: left;
     color: #f1f2f2;
    Padding: 0px 10px 0 10px;
    border-right: 1px solid #d1d3d4;

}

footer a{
     color: #f1f2f2;
      text-decoration: none;
     border-bottom: 1px solid #C90;
}


footer h5{
    float: Right;
    color: #f1f2f2;
}